{% if date %}
    {% if updatedDate and (date|string) !== (updatedDate|string) %}
        <p>Last updated on
            <time class="dt-updated" datetime="{{ updatedDate }}">{{ updatedDate | dateDisplay }}</time>. Created on
            <time class="dt-published" datetime="{{ date }}">{{ date | dateDisplay }}</time>.</p>
    {% else %}
        <p>Created on
            <time datetime="{{ date }}">{{ date | dateDisplay }}</time>.</p>
    {% endif %}
{% endif %}