<footer class="bg-gray-900 pb-10">
  <p class="block text-center text-sm mb-6">
   <span class="inline" id="secure" title="Your information is secure"></span> - Copyright
    <a rel="noopener noreferrer" rel="me" href="https://github.com/jpoehnelt">
      Justin Poehnelt
    </a> - Last Build: <span class="build-date">{{ page.date | dateDisplay }}</span> - Please <a href="https://www.supportukraine.co/">support 🇺🇦</a>
  </p>
</footer>