<header class="border-b-2 mb-4 py-4 print:hidden">
	<nav class="container mx-auto max-w-6xl px-8 pt-2 flex flex-wrap justify-between items-center">
		<div>
			<h1>
				<a href="{{ site.baseUrl }}">{{ site.name }}</a>
			</h1>
		</div>

		<div class="flex flex-wrap sm:w-96 gap-2 text-2xl w-full mt-6 sm:mt-0 justify-evenly">
			<a href="{{ site.baseUrl }}status/">Status</a>
			<a href="{{ site.baseUrl }}run/">Run</a>
			<a href="{{ site.baseUrl }}code/">Code</a>
			<a href="{{ site.baseUrl }}blog/">Blog</a>
		</div>
	</nav>
</header>
