<header class="border-b-2 mb-4 pb-4">
	<nav class="container mx-auto max-w-6xl px-8 pt-2 flex flex-wrap justify-between items-center">
		<div>
			<h1>
				<a href="{{ site.baseUrl }}">{{ site.name }}</a>
			</h1>
		</div>

		<ul class="flex flex-wrap sm:w-64 text-2xl w-full mt-6 sm:mt-0 justify-evenly">
			<li>
				<a href="{{ site.baseUrl }}run">Run</a>
			</li>
			<li>
				<a href="{{ site.baseUrl }}code">Code</a>
			</li>
			<li>
				<a href="{{ site.baseUrl }}blog">Blog</a>
			</li>
		</ul>
	</nav>
</header>
