{% if 'code' in tags %}
	<p>I am a Developer Relations Engineer at Google and current or past member of teams such as Google Maps and Google Workspace. See more related work below or at
		<a href="/tag/code">#code</a>
		and
		<a href="/tag/google">#google</a>. I also syndicate this content to
		<a href="https://dev.to/jpoehnelt">dev.to/jpoehnelt</a>.</p>
{% endif %}
{% if 'run' in tags %}
	<p>When I'm not working, I'm probably running. See more about my adventures at
		<a href="/tag/run">#run</a>,
		<a href="/tag/race-report">#race-report</a>
		or some of my yearly running stats at
		<a href="/run">/run</a>.</p>
{% endif %}
