<div class="h-feed">
	{% for post in posts %}
		<article class="h-entry mb-6 border-b pb-6 border-gray-300" style="view-transition-name: {{ post.url | slugify }}">
			<a class="p-author h-card hidden" rel="author" href="{{ site.url.href }}">{{ site.author.name}}</a>
			<h2>
				<a class="hidden u-url p-name" href="{{ site.url.href }}{{ site.baseUrl}}{{ post.url | url }}">{{ post.data.title }}</a>
				<a class="block" href="{{ post.url | url }}">{{ post.data.title }}</a>
			</h2>

			<p class="excerpt p-summary mb-6 mt-4">{{ post.data.excerpt }}</p>

			<div class="mb-4">
			{% for tag in post.data.tags %}
				{%- if tag !== "post" -%}
					<a class="tag {{ tag | replace('.', '') }}" href="{{ site.baseUrl }}tag/{{ tag | lower | slugify }}">{{ tag }}</a>
				{%- endif -%}
			{% endfor %}
			</div>

			<div class="flex justify-between">
				<div class="mb-0">Read in {{ post.template.frontMatter.content | timeToRead }}.</div>
				<div>
					<time class="dt-published created-date" datetime="{{ post.data.date }}">
						{{ post.data.date | dateDisplay }}
					</time>
					{% if post.data.updatedDate and (post.data.date|string) !== (post.data.updatedDate|string) %}
						<time class="dt-updated hidden" datetime="{{ post.data.updatedDate }}">{{ post.data.updatedDate | dateDisplay }}</time>
					{% endif %}
				</div>
			</div>
		</article>
	{% endfor %}
</div>
