{
  "overrides": [
    {
      "files": ["talks/**/slides.md"],
      "options": {
        "parser": "slidev",
        "plugins": ["prettier-plugin-slidev"]
      }
    },
    {
      "files": ["**/snippets/*"],
      "options": {
        "printWidth": 60
      }
    }
  ]
}
