---
permalink: "{% if path %}{{ path | slug }}{% else %}{{'/post/'}}{{ title | slug }}{% endif %}/index.html"
layout: base
---
<arcticle class="h-entry">
    <a class="p-name u-url hidden" href="{{ site.url }}{{page.url}}">{{ title }}</a>
    <a class="p-author h-card hidden" rel="author" href="{{ site.url }}">{{ site.author.name}}</a>
    <div>
        {% if excerpt %}
            <p class="excerpt p-summary">{{ excerpt }}</p>
        {% endif %}

        {% include 'date.njk' %}

        <div class="flex gap-8">
            <div class="content grow">
                {{ content | safe }}
            </div>
            {% if not hideToc %}{% include 'toc.njk' %}{% endif %}
        </div>
    </dv>
</article>