---
layout: base
---
{% include 'schema-blog-post.njk' %}
<article class="h-entry" style="view-transition-name: {{ page.url | slugify }}">
    <a class="p-name u-url hidden" href="{{ site.url }}{{page.url}}">{{ title }}</a>
    <a class="p-author h-card hidden" rel="author" href="{{ site.url }}">{{ site.author.name}}</a>

    <h2>{{ title }}</h2>
    <div class="flex text-sm italic gap-4">
        {% include 'date.njk' %}
        <p>Read in {{ content | timeToRead }}.</p>
    </div>

    <div class="mb-4"> 
        {% for tag in tags %}
            {%- if tag !== "post" -%}
                <a class="p-category tag {{ tag | replace('.', '') }}" href="{{ site.baseUrl }}tag/{{ tag | slugify}}">{{ tag }}</a>
            {%- endif -%}
        {% endfor %}
    </div>
    
    <div class="flex gap-8">
        <div class="content grow">
        {{ content | safe }}
        
        <hr>

        {%- set nextPost = collections['post'] | getNextCollectionItem(page) %}
        {%- if nextPost %}
            <p class="uppercase text-xs mt-6">Next</p>
            <p class="font-bold mb-2">
                <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
            </p>
        {% endif %}
        {%- set previousPost = collections['post'] | getPreviousCollectionItem(page) %}
        {%- if previousPost %}
            <p class="uppercase text-xs mt-6">Previous</p>

            <p class="font-bold">
                <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
            </p>
        {% endif %}

        {% set post = {
            data: {
                title: title,
                excerpt: excerpt,
                tags: tags
            }
        } %}

        {% set related = post | relatedPosts(collections['post']) %}
        
        {% if related | length %}
            <p class="uppercase text-xs mt-6">Related</p>
            <ul>

            {% for other in related %}
                <li><a data-relative="{{other.relative}}" href="{{ other.document.url}}">{{ other.document.data.title }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% include "webmentions.njk" %}    

        <hr>

        {% include "rss-feed.njk" %}
        
        </div>
        {% if not hideToc %}{% include 'toc.njk' %}{% endif %}
    </div>
</article>
