@keyframes tag-hover {
  100% {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }
}

.tag:not(.token) {
  @apply flex items-center gap-2 mb-1 text-sm font-bold rounded lowercase py-1 px-2 text-white;
  border: 1px solid transparent;
}

.tag:not(.token):hover {
  animation: tag-hover 500ms both;
}

