@keyframes tag-hover {
  100% {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }
}

.tag:not(.token) {
  @apply bg-orange-800 inline-block px-2 py-2 mx-1 mb-1 text-sm font-bold rounded lowercase text-white;
  border: 1px solid transparent;
}

.tag:not(.token):hover {
  animation: tag-hover 500ms both;
}

.tag:not(.token):before {
  content: "#";
}

.tag:not(.token).run {
  @apply bg-green-700;
}

.tag:not(.token).code {
  @apply bg-sky-700;
}
