<footer class="pb-10 print:hidden">
  <p class="block text-center text-sm mb-6">
   Copyright <a rel="me" href="https://mastodon.thbps.com/@jpoehnelt">Justin Poehnelt</a> - Last Build: <span class="build-date">{{ page.date | dateDisplay }}</span> - <a href="https://github.com/jpoehnelt/blog">Source</a>
  </p>
</footer>