<div>
    <div class="md:flex justify-evenly mb-6">
        <div class="flex justify-between mx-auto w-full">
            {% if pagination.href.previous %}
                <div class="mx-auto mb-4">
                    <a class="previous-page" href="{{ pagination.href.previous | url }}">Previous Page</a>
                </div>
            {% endif %}

            {% if pagination.href.next %}
                <div class="mx-auto mb-4">
                    <a class="next-page md:mb-2" href="{{ pagination.href.next | url }}">Next Page</a>
                </div>
            {% endif %}
        </div>        
    </div>
</div>