@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */
html,
body {
  height: auto;
  margin: 0;
  @apply bg-gray-50;
}

h1 {
  @apply text-4xl mb-8 mt-2 font-bold;
}
h2 {
  @apply text-3xl mb-6 font-bold;
}
h3 {
  @apply text-2xl mb-4;
}
h4 {
  @apply text-xl mb-2;
}
h5 {
  @apply text-lg mb-1;
}

article,
p,
ul,
ol,
pre,
table,
iframe {
  @apply mb-8;
}

ul,
ol {
  @apply pl-6;
}
ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}

table {
  @apply w-full mt-2;
}

p {
  &.lead {
    @apply text-gray-700 text-2xl;
  }
}

p,
article, li {
  a {
    @apply text-secondary;

    &:hover {
      @apply underline;
    }
  }
}

iframe {
  @apply mx-auto;

  &.strava {
    width: 80%;
    max-width: 630px;
    &.activity {
      height: 400px;
    }
  }
}
/* purgecss end ignore */
