---
layout: page
hideToc: true
pagination:
  data: resume.versions
  size: 1
permalink: "resume/{{ pagination.items[0] | slugify }}/index.html"
tags:
  - generated_resume
eleventyComputed:
  title: "Resume - {{ pagination.items[0] }}"
alpinejs: true
---

<style media="print" type="text/css">
  html,
  body {
    background-color: white !important;
  }
</style>
<style>
  main {
    padding-top: 0 !important;
  }
</style>
<div x-data="{length: 15}">
  <div class="flex flex-wrap gap-2 mb-4 print:hidden">
    Focus:
    {% for href in pagination.hrefs %}
      <a href="{{ href }}"
        >{{ href | replace("/resume/", "") | replace("/", "") }}</a
      >{% if not loop.last %}|{% endif %}
    {% endfor %}
    <div class="flex-grow flex items-center justify-end gap-2">
      <label for="default-range">Length</label>
      <input
        id="default-range"
        type="range"
        min="5"
        max="15"
        value="15"
        step="1"
        class="w-24 rounded-lg appearance-none cursor-pointer"
        x-model="length"
      />
    </div>
  </div>
  <div
    class="text-light bg-white hyphens-manual p-8 mx-auto print:max-w-letter print:p-0"
  >
    <div
      class="flex flex-row flex-wrap items-end mb-4 border-b-2 whitespace-nowrap"
    >
      <h1 class="text-5xl print:text-4xl m-0 font-semibold flex-grow">
        {{ site.author.name }}
      </h1>
      <h2 class="text-2xl print:text-xl m-0 font-mono">{{ resume.role }}</h2>
    </div>
    <div class="mb-4">
      <ul
        class="flex flex-wrap gap-y-2 justify-start gap-x-8 print:gap-x-12 text-xs list-none"
      >
        {% for _, contact in site.author.contacts %}
          <li class="m-0 print:text-xs">
            <a
              href="{{ contact.href }}"
              target="_blank"
              class="flex items-center gap-1"
            >
              <i class="{{ contact.icon }}"></i>
              {{ contact.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="grid grid-cols-3 gap-10">
      <section class="col-span-3 md:col-span-2 print:col-span-2">
        <h2 class="resume-section">Experience</h2>
        {% for experience in resume.experiences %}
          <div>
            <div>
              <div class="flex gap-1 justify-start items-center">
                <h4 class="flex-grow print:text-sm">
                  {{ experience.title }} @ {{ experience.company }}
                </h4>
                {% if experience.icon %}
                  <span class="scale-[2] {{ experience.icon }}"></span>
                {% endif %}
              </div>
              <p class="text-sm mb-1">
                {{ experience.startDate }} – {{ experience.endDate }} //
                {{ experience.location }}
              </p>
            </div>
            <ul class="text-sm">
              {% for highlight in experience.highlights[pagination.items[0]] %}
                <li
                  class="ml-4 break-inside-avoid-page"
                  x-show="{{ loop.index }} < length"
                >
                  {{ highlight | markdownit | safe }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </section>
      <div class="col-span-1 flex flex-col gap-2">
        <section>
          <h2 class="resume-section">Skills</h2>
          {% for category in resume.skills %}
            <div>
              <div>
                <h3 class="text-sm">{{ category.category }}</h3>
              </div>
              <ul class="flex flex-wrap text-xs list-none gap-1 mb-1">
                {% for skill in category.skills %}
                  <li class="m-0">
                    {{ skill }}{% if not loop.last %},{% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </section>
        <section>
          <h2 class="resume-section">Projects</h2>
          <div class="text-xs">
            {% for repo in github.items %}
              {% if loop.index <= 5 %}
                <h3 class="text-xs flex items-center gap-1">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex-grow"
                    href="{{ repo.html_url }}"
                    >{{ repo.name }}</a
                  >
                  <span>{{ repo.stargazers_count }}</span>
                  <span class="i-ic-baseline-star"></span>
                </h3>
                <p class="mb-1">{{ repo.description }}</p>
              {% endif %}
            {% endfor %}
          </div>
        </section>
        <section>
          <h2 class="resume-section">education</h2>
          {% for education in resume.education %}
            <div>
              <div>
                <h4
                  class="text-sm font-semibold flex justify-start items-center gap-1 mb-1"
                >
                  <span class="flex-grow">{{ education.university }}</span>
                  <span class="{{ education.icon }} w-12"></span>
                </h4>
              </div>
              <p class="text-xs mb-0">{{ education.degree }}</p>
            </div>
          {% endfor %}
        </section>
        <section x-show="length >= 6">
          <h2 class="resume-section">Publications</h2>
          <div class="text-xs">
            {% for publication in resume.publications %}
              <p class="mb-1 pl-4 -indent-4">{{ publication }}</p>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
