---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
  filter:
    - all
    - post
eleventyComputed:
  title: "Posts having tag: {{ tag }}"
permalink: /tag/{{ tag | lower | slugify }}/
layout: base
---

{% block body %}
  {% set posts = collections[tag] | reverse %}
  {% include "posts.njk" %}
  {% include "tags.njk" %}
{% endblock %}
