---
layout: base
title: Status
pagination:
  data: mastodon
  size: 10
---

<p>
  This is a my personal feed on my instance at
  <a href="https://mastodon.thbps.com/@jpoehnelt" rel="me"
    >@jpoehnelt@mastodon.thbps.com</a
  >. Mastodon is a decentralized social network part of the
  <a href="https://en.wikipedia.org/wiki/Fediverse">Fediverse</a>, and you can
  join it at <a href="https://joinmastodon.org">https://joinmastodon.org</a>.
</p>
<p>
  <script src="https://mastodon.thbps.com/embed.js" async="async"></script>

  {% for item in pagination.items %}
    <iframe
      src="{{ item.guid }}/embed"
      class="mastodon-embed mb-4 w-full border border-gray-700 drop-shadow-md rounded-sm"
    ></iframe>
  {% endfor %}
  {% include "nav.njk" %}
</p>
