name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - run: npm ci
      - run: npm run build
  preview:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    outputs:
      url: ${{ steps.preview.outputs.url }}
    steps:
      - id: env
        run: |
          echo "environment=${{ github.ref == 'refs/heads/main' && 'production' || 'preview' }}" >> $GITHUB_OUTPUT
      - name: wait
        id: preview
        uses: WalshyDev/cf-pages-await@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN  }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID  }}
          project: jpoehnelt
          environment: ${{ steps.env.outputs.environment }}
  lighthouse:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    needs: preview
    steps:
      # checkout need to upload artifacts with hash from git
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: treosh/lighthouse-ci-action@v10
        with:
          urls: ${{ needs.preview.outputs.url }}
          uploadArtifacts: true
          temporaryPublicStorage: true
          configPath: .lighthouserc.json
  broken-link-checker:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    needs: preview
    steps:
      - uses: roc/link-checker@0f3f6f07d7c0ab247d73468ae5c277c441c596a3
        with:
          url: ${{ needs.preview.outputs.url }}
          blc_args: --follow --recursive --ordered --filter-level 3 
