name: Ingest

on:
  workflow_dispatch:
    inputs:
      scrape_range:
        description: "Scrape Range (start-end)"
        type: string
        required: false
      after:
        description: "After date"
        type: string
      before:
        description: "Before date"
        type: string
  schedule:
    - cron: "0 5 * * *"
jobs:
  data:
    runs-on: ubuntu-latest
    env:
      PUBLIC_GOOGLE_MAPS_API_KEY: ${{ secrets.PUBLIC_GOOGLE_MAPS_API_KEY }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          lfs: true
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: "pnpm"
      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: |
            .turbo
            node_modules/.cache
            apps/site/node_modules/.cache
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - run: pnpm i
      - run: pnpm build --filter=data-automation
      - name: Refresh Strava token
        env:
          STRAVA_CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          STRAVA_CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          STRAVA_REFRESH_TOKEN: ${{ secrets.STRAVA_REFRESH_TOKEN }}
          REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
        run: node packages/data-automation/dist/strava-refresh.js
      - name: Ingest Strava Activities
        env:
          STRAVA_ACCESS_TOKEN: ${{ env.STRAVA_ACCESS_TOKEN }}
          STRAVA_AFTER: ${{ github.event.inputs.after }}
          STRAVA_BEFORE: ${{ github.event.inputs.before }}
        run: node packages/data-automation/dist/strava-ingest.js
      - name: Ingest Strava Activities (random)
        env:
          STRAVA_ACCESS_TOKEN: ${{ env.STRAVA_ACCESS_TOKEN }}
        run: |
          YEAR=$(shuf -i 2020-$(date +%Y) -n 1)
          MONTH=$(shuf -i 1-12 -n 1)

          STRAVA_AFTER=$(date -d "$YEAR-$MONTH-01" +%Y-%m-%d)
          STRAVA_BEFORE=$(date -d "$STRAVA_AFTER +1 month" +%Y-%m-%d)

          echo "Ingesting data for $YEAR-$MONTH"
          echo "STRAVA_AFTER=$STRAVA_AFTER"
          echo "STRAVA_BEFORE=$STRAVA_BEFORE"

      - name: Discover and Ingest Races
        run: |
          # Daily Update (Refresh known races)
          if [ "${{ github.event.inputs.scrape_range }}" == "" ]; then
            pnpm --filter "@jpoehnelt/ultrasignup-scraper" dev update -f ../../data/races.json -o ../../data/races
          else
            # Manual Discovery (Scrape new range)
            START=$(echo ${{ github.event.inputs.scrape_range }} | cut -d'-' -f1)
            END=$(echo ${{ github.event.inputs.scrape_range }} | cut -d'-' -f2)
            pnpm --filter "@jpoehnelt/ultrasignup-scraper" dev scrape $START $END -o ../../data/races
          fi
      - name: Generate My Races Index
        run: pnpm --filter "@jpoehnelt/ultrasignup-scraper" dev my-races --name "Poehnelt" --output ../../data/my-races.json
      - run: |
          curl -L https://script.google.com/macros/s/$APPS_SCRIPT_RUNTIME_DEPLOYMENT_ID/exec -o data/appsScriptWinterCG.json
        env:
          APPS_SCRIPT_RUNTIME_DEPLOYMENT_ID: ${{ secrets.APPS_SCRIPT_RUNTIME_DEPLOYMENT_ID }}
      - name: Commit changes
        if: github.ref == 'refs/heads/main'
        run: |
          pnpm format
          git config --local user.email "jpoehnelt@users.noreply.github.com"
          git config --local user.name "Justin Poehnelt"
          git add --all data/
          git commit -m "chore: update data" || true
          git push
