name: Strava Refresh Token

on:
  workflow_dispatch:
  schedule:
    - cron: "50 4 * * *"

jobs:
  ingest:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup
      - run: pnpm build
      - name: Refresh token
        env:
          STRAVA_CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
          STRAVA_CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
          STRAVA_REFRESH_TOKEN: ${{ secrets.STRAVA_REFRESH_TOKEN }}
          REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
        run: node packages/data-automation/dist/strava-ingest.js
